@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #6366f1; /* Indigo 500 */
  --color-primary-dark: #4f46e5; /* Indigo 600 */
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
    font-family: 'Inter', sans-serif;
  }
}
